## Importing CSV

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('./assets/export.csv')
df

/tmp/ipykernel_51983/910976448.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('./assets/export.csv')

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,QEVuQwEABlEzkh7fsBBjEe26RyIVcg==,NaN,NaN,NaN,2015-11-26,1069,Condition,Ulcerative colitis,0
1,QEVuQwEAWRNGnuTRqXG2996KSkTIEw==,32.0,male,US,2015-11-26,1069,Condition,Ulcerative colitis,0
2,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3168,Condition,pain in left upper arm felt like i was getting...,4
3,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3169,Condition,hip pain when gettin up,3
4,QEVuQwEA+WkNxtp/qkHvN2YmTBBDqg==,2.0,female,CA,2017-04-28,3170,Condition,pain in hand joints,4
...,...,...,...,...,...,...,...,...,...
7976218,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,1,Tag,tired,NaN
7976219,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,2,Tag,stressed,NaN
7976220,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,9002,Food,soup,NaN
7976221,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,9139,Food,yogurt,NaN
7976222,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,10260,Food,granola,NaN

## Drop NULL values

In [2]:
df.dropna(inplace=True)

In [3]:
df['trackable_value'].unique()

array(['0', '4', '3', ..., '10mg + 1mL', 'tried predilisone',
       '1 patch (12 hours)'], dtype=object)

## Drop Weather values

In [4]:
df.drop(df[df['trackable_type'] == 'Weather'].index, inplace=True)

## Dropping Senseless data

In [5]:
df.drop(df[df['age'] < 0].index, inplace=True)
df.drop(df[df['age'] > 100].index, inplace=True)

In [6]:
df.describe()

                age
count  5.257100e+06
mean   3.491319e+01
std    1.161035e+01
min    0.000000e+00
25%    2.600000e+01
50%    3.400000e+01
75%    4.200000e+01
max    9.900000e+01

## Making uniform datatypes

In [7]:
# df.trackable_id = df.trackable_id.astype('int64')
df=df[df.trackable_id.apply(lambda x: (type(x)==int))]
df

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
65536,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-24,152,Symptom,Nausea,1
65537,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-24,243,Symptom,Stomach Pain,3
65538,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-19,220,Condition,Chronic fatigue syndrome,3
65539,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-19,561,Condition,Irritable bowel syndrome,0
65540,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-19,1153,Condition,Dysautonomia,3
...,...,...,...,...,...,...,...,...,...
7976213,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,3368,Symptom,difficulty getting up,4
7976214,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,153,Symptom,Neck pain,2
7976215,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,242,Symptom,Fatigue,3
7976216,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,1026,Symptom,Poor concentration,3
7976217,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,30924,Symptom,poor productivity,3

## Reduce dataset

In [8]:
# df=df.loc[1:100000]

## Show dataframe

In [9]:
df

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
65536,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-24,152,Symptom,Nausea,1
65537,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-24,243,Symptom,Stomach Pain,3
65538,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-19,220,Condition,Chronic fatigue syndrome,3
65539,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-19,561,Condition,Irritable bowel syndrome,0
65540,QEVuQwEAz87of+x9qlsQYMmMClFRGg==,38.0,female,DE,2015-06-19,1153,Condition,Dysautonomia,3
...,...,...,...,...,...,...,...,...,...
7976213,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,3368,Symptom,difficulty getting up,4
7976214,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,153,Symptom,Neck pain,2
7976215,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,242,Symptom,Fatigue,3
7976216,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,1026,Symptom,Poor concentration,3
7976217,QEVuQwEAtlfm8VyoxZ9biWjDHb74gQ==,22.0,female,GB,2019-12-04,30924,Symptom,poor productivity,3

## Write to CSV

In [10]:
df.to_csv('./assets/export_preprocessing.csv')

## Experimentation

In [11]:
len(df.index)

2249607

In [12]:
print(list(df['country'].value_counts()))

[1384394, 390609, 159243, 138338, 24301, 20112, 16187, 15413, 12217, 9314, 7123, 6831, 6269, 5497, 5424, 3645, 3367, 3335, 3185, 2937, 2545, 2480, 2302, 2231, 2010, 1890, 1494, 1348, 1311, 1066, 1031, 1017, 976, 958, 859, 812, 776, 503, 496, 486, 480, 368, 305, 280, 278, 263, 249, 219, 199, 196, 178, 171, 168, 163, 156, 150, 142, 122, 112, 94, 82, 76, 71, 69, 54, 50, 49, 49, 46, 45, 40, 33, 31, 31, 26, 20, 20, 15, 15, 14, 11, 11, 11, 10, 9, 8, 7, 7, 7, 6, 6, 6, 5, 5, 4, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1]

In [13]:
print(list(df['age'].value_counts()))

[103984, 97474, 88243, 85551, 83230, 81087, 80145, 80120, 78626, 78024, 63623, 61577, 59058, 57707, 56893, 55929, 55824, 53645, 53129, 49623, 49106, 46016, 45123, 45003, 44968, 44948, 44573, 42124, 40192, 38058, 35892, 29088, 27686, 25907, 25623, 23810, 22148, 20430, 18418, 17858, 15998, 15815, 14808, 14122, 12964, 10521, 8264, 8212, 6847, 6393, 5736, 3132, 2723, 2339, 2168, 1701, 1501, 1469, 1181, 1025, 500, 440, 325, 309, 268, 64, 61, 57, 54, 38, 26, 23, 18, 11, 11, 8, 6, 4, 1, 1]

In [14]:
# print(list(df['checkin_date'].value_counts()))
df['checkin_date'].value_counts()

2019-11-04    4318
2019-03-05    4297
2019-01-23    4242
2019-11-06    4188
2019-01-21    4179
              ...
2016-12-05      67
2017-01-10      64
2016-12-21      63
2016-12-16      62
2015-05-24      19
Name: checkin_date, Length: 1658, dtype: int64

In [15]:
# print(list(df['trackable_id'].value_counts()))
df['trackable_id'].value_counts()

242      44402
98       41833
152      36657
275      27435
121      25065
         ...
33112        1
26328        1
26330        1
22329        1
30924        1
Name: trackable_id, Length: 15325, dtype: int64

In [16]:
df['trackable_id'].nunique()

15325

In [17]:
df['trackable_type'].value_counts()

Symptom      1424414
Condition     434134
Treatment     391059
Name: trackable_type, dtype: int64

In [18]:
df.mode()

,user_id,age,sex,country,checkin_date,trackable_id,trackable_type,trackable_name,trackable_value
0,QEVuQwEAlNMIH8RXhjZvx6HzoW8iXQ==,25.0,female,US,2019-11-04,242,Symptom,Fatigue,0

## Age Groups

In [19]:
df1 = df['age'].value_counts()
df1.sort_index(ascending=True, inplace=True)
print(df1)
max_tid=max(df1)

1.0      1501
2.0     10521
3.0      1181
4.0      5736
5.0        11
        ...
77.0       38
79.0        4
86.0        1
98.0        8
99.0      325
Name: age, Length: 80, dtype: int64

In [20]:
Groups=[]
temp=[]
sum=0
for a,b in df1.items():
    if(sum+b>=max_tid):
        if(max_tid-sum>=sum+b-max_tid):
            temp.append(a)
            Groups.append(temp)
            sum=0
            temp=[]
        else:
            Groups.append(temp)
            sum = 0
            temp = []
            temp.append(a)
            sum+=b
    else:
        temp.append(a)
        sum+=b
Groups.append(temp)
GroupSize = np.array([len(i) for i in Groups])
print(GroupSize)

[19  2  2  2  2  1  1  2  1  2  1  2  2  2  2  1  2  2  2  5  5 20]

## Trackable ID groups

In [21]:
df1 = df['trackable_id'].value_counts()
df1.sort_index(ascending=True, inplace=True)
print(df1)
max_tid=max(df1)

1        11086
2         1719
3          586
4          111
5          423
         ...
37620        2
37621        2
37626        2
37641        1
37648        1
Name: trackable_id, Length: 15325, dtype: int64

In [22]:
Groups = []
temp = []
sum = 0
for a, b in df1.items():
    if (sum+b >= max_tid):
        if (max_tid-sum >= sum+b-max_tid):
            temp.append(a)
            Groups.append(temp)
            sum = 0
            temp = []
        else:
            Groups.append(temp)
            sum = 0
            temp = []
            temp.append(a)
            sum += b
    else:
        temp.append(a)
        sum += b
Groups.append(temp)
GroupSize = np.array([len(i) for i in Groups])
print(GroupSize)

[  11   30   13    7   19   14    2   21   13   16    2   37   26   21
    1   15   18   22   41   39   22   52   66   53   66   79  110  143
  109   52  134  136  248  340  297  457  415  412  344  402  630  582
  304  261  383  610 1029 1455 1365 1814 2165  422]

## Checking trackable id allocation

In [23]:
map={}
flag=True
for i in df.index:
    if (df['trackable_id'][i] in map.keys() and not (df['user_id'][i] == map[df['trackable_id'][i]])):
        flag=False
        break
print(flag)

True